<!DOCTYPE html>
<html>
<head>
  <title>Przykład Fetch API i Petite Vue</title>
</head>
<body>
    <header>
      <div>
        <img src="./assets/images/logo_temp.png" alt="logo">
      </div>
      <nav>
        <div id="hamburgerMenu" v-scope>
          <button  @click="login">Login</button>
          <div v-if="data">
            {{data}}
          </div>
        </div>
      </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
      <div id="productData" v-scope>
        <button @click="fetchData">Pobierz dane</button>
        <div v-if="data">
            {{data.title}}
            {{data.description}}
        </div>
      </div>

      <script type="module">
        import { createApp } from 'https://unpkg.com/petite-vue?module'
      
        createApp({
          data: null,
          fetchData() {
            fetch('https://dummyjson.com/products/1')
            .then(response => response.json())
            .then(data => {
                this.data = data;
            })
            .catch(err => {
                console.error(err)
            })
          }
        }).mount("#productData")

        createApp({
          isLogged: false,
          data: null,
          login(){
            fetch('../backend/login.php', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              },
            })
            .then(res => res.json())
            .then(data => {
                console.log(data)
                this.data = data;
            })
            .catch(err => {
              console.error(err);
            });
          }
        }).mount("#hamburgerMenu")
      </script>
</body>
</html>